{{ ansible_managed | comment }}

{% for entry in sudo %}
{{ entry.user | join(',') }} ALL=({{ entry.runas | default(['root']) | join(',') }}) {% if passwd|default(False) %}PASSWD{% else %}NOPASSWD{% endif %}: {{ entry.commands | join(',') }}
{% endfor %}
